#!/bin/bash

if [ ! "$(command -v brew)" ]; then
    eval "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

[ ! -f /opt/homebrew/bin/brew ] || eval "$(/opt/homebrew/bin/brew shellenv)"

brew update-reset && brew update

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "daipeihust/tap"
tap "1password/tap"

brew "macvim"
brew "fzf"
brew "mercurial"
brew "go"
brew "pyenv"
brew "pipx"
brew "cmake"
brew "java"
brew "envchain"
brew "ccls"
brew "ctags"
brew "git"
brew "git-lfs"
brew "gpg"
brew "clang-format"
brew "shfmt"
brew "chezmoi"
brew "pinentry-mac"
brew "coreutils"
brew "bash"
brew "kind"
brew "nvim"
brew "im-select"

cask "1password-cli"
cask "iterm2"
cask "google-chrome"
cask "readdle-spark"
cask "1password"
cask "visual-studio-code"
cask "qqmusic"
cask "vlc"
cask "rectangle"
cask "font-fira-code"

cask "qq"
cask "wechat"
cask "feishu"
cask "slack"
cask "dingtalk"
cask "appcleaner"

EOF

test -d ${HOME}/.gvm || /bin/bash <(curl -fsSL https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer)

python_stable_version="$(pyenv install --list | sed 's/^  //' | grep '^\d' | grep --invert-match 'dev\|a\|b' | tail -1)"
PYTHON_CONFIGURE_OPTS="--enable-framework" pyenv install -s $python_stable_version && pyenv global $python_stable_version

pipx install poetry >& /dev/null
pipx install yapf >& /dev/null
pipx runpip yapf install toml >& /dev/null

test -d ${HOME}/.nvm || /bin/bash <(curl -fsSL https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh)
. ${HOME}/.nvm/nvm.sh

test -d ${HOME}/.zplug || /bin/zsh <(curl -fsSL https://raw.githubusercontent.com/zplug/installer/master/installer.zsh)
nvm install --lts --default
corepack enable
corepack prepare yarn@stable --activate
