#!/bin/bash

defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "${HOME}/.config/iterm2"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true

defaults write com.west2online.ClashXPro autoEnableTun -int 1
