#!/bin/bash

# {{ now | date "2006-01" | sha256sum }}

brew bundle --file=/dev/stdin <<EOF

brew "jesseduffield/lazygit/lazygit"
brew "neovim"
brew "fzf"
brew "eza"
brew "mercurial"
brew "bat"
brew "trash"
brew "git-delta"
brew "starship"
brew "hurl"
brew "coreutils"
brew "ripgrep"
cask "claude-code"

EOF
