#!/bin/bash

# scriptEnv hash: {{ .chezmoi.config.scriptEnv | quote | sha256sum }}

brew bundle --file=/dev/stdin <<EOF

brew "jesseduffield/lazygit/lazygit"
brew "neovim"
brew "fzf"
brew "eza"
brew "mercurial"
brew "bat"

EOF

[ -f ~/.gvm/scripts/gvm ] || GVM_NO_UPDATE_PROFILE=1 bash < <(curl -LsSf 'https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer')
[ -f ~/.gvm/scripts/gvm ] && source ~/.gvm/scripts/gvm
[ "$(command -v go)" ] || (brew install go && gvm install go${GO_VERSION} && brew uninstall go && gvm use go${GO_VERSION} --default)
