{{- $local := joinPath .chezmoi.sourceDir "dot_claude" "plugins" "marketplaces"}}
{{- $target := joinPath .chezmoi.homeDir ".claude" "plugins" "marketplaces"}}
{{- $entries := splitList "\n" (output "ls" $local | trim) }}
{
{{- range $i, $name := $entries }}
{{- if not $name }}{{ continue }}{{ end }}
{{- $path := joinPath $local $name }}
{{- $marketplaceJson := joinPath $path ".claude-plugin" "marketplace.json" }}
{{- $marketplaceName := (output "cat" $marketplaceJson | fromJson).name }}
{{- $installPath := joinPath $target ($name | splitList "_" | last | trim) }}
{{- if $i }},{{ end }}
  "{{ $marketplaceName }}": {
    "source": {
      {{- if eq $marketplaceName "claude-plugins-official" }}
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
      {{- else }}
      "source": "directory",
      "path": "{{ $installPath }}"
      {{- end }}
    },
    "installLocation": "{{ $installPath }}",
    "lastUpdated": "{{ output `git` `-c` `clock.timezone=UTC` "-C" $path `log` `-1` `--date=format-local:%Y-%m-%dT%H:%M:%S.000Z` `--format=%ad` | trim }}"
  }
{{- end }}
}
