[submodule "home/dot_claude/plugins/marketplaces/external_claude-plugins-official"]
	path = home/dot_claude/plugins/marketplaces/external_claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official
[submodule "home/dot_claude/plugins/marketplaces/external_context7-marketplace"]
	path = home/dot_claude/plugins/marketplaces/external_context7-marketplace
	url = https://github.com/upstash/context7.git
[submodule "home/dot_claude/plugins/marketplaces/external_agent-browser"]
	path = home/dot_claude/plugins/marketplaces/external_agent-browser
	url = https://github.com/vercel-labs/agent-browser.git
[submodule "home/dot_claude/plugins/marketplaces/external_cc"]
	path = home/dot_claude/plugins/marketplaces/external_cc
	url = https://github.com/samber/cc.git
[submodule "home/dot_claude/plugins/marketplaces/external_agents"]
	path = home/dot_claude/plugins/marketplaces/external_agents
	url = https://github.com/wshobson/agents.git
[submodule "home/dot_claude/plugins/marketplaces/external_deepwiki-marketplace"]
	path = home/dot_claude/plugins/marketplaces/external_deepwiki-marketplace
	url = git@github.com:cndoit18/deepwiki.git
[submodule "home/dot_claude/plugins/marketplaces/external_obsidian-skills"]
	path = home/dot_claude/plugins/marketplaces/external_obsidian-skills
	url = https://github.com/kepano/obsidian-skills.git
[submodule "home/dot_claude/plugins/marketplaces/external_lark-skills-for-claude-code"]
	path = home/dot_claude/plugins/marketplaces/external_lark-skills-for-claude-code
	url = git@github.com:cndoit18/lark-skills-for-claude-code.git
[submodule "home/dot_claude/plugins/marketplaces/external_understand-anything"]
	path = home/dot_claude/plugins/marketplaces/external_understand-anything
	url = git@github.com:Egonex-AI/Understand-Anything.git
[submodule "home/dot_claude/plugins/marketplaces/external_ui-ux-pro-max-skill"]
	path = home/dot_claude/plugins/marketplaces/external_ui-ux-pro-max-skill
	url = git@github.com:nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "home/dot_claude/plugins/marketplaces/external_taste-skill"]
	path = home/dot_claude/plugins/marketplaces/external_taste-skill
	url = git@github.com:Leonxlnx/taste-skill.git
[submodule "home/dot_agents/exact_skills/external_prompt-master"]
	path = home/dot_agents/exact_skills/external_prompt-master
	url = git@github.com:nidhinjs/prompt-master.git
[submodule "home/dot_claude/plugins/marketplaces/external_superpowers"]
	path = home/dot_claude/plugins/marketplaces/external_superpowers
	url = git@github.com:obra/superpowers.git
