[hooks.read-source-state.pre]
command = ".local/share/chezmoi/home/.install-prerequisites.sh"

[data]
zshPlugins = [
    "zsh-syntax-highlighting",
    "git-open",
    "extract",
    "git",
    "golang",
    "python",
    "rust",
    "fzf",
    "brew",
    "helm",
    "kubectl",
    "autoswitch_virtualenv",
]

githubToken = "{{ onepasswordRead "op://Personal/GitHub API Token/token" | trim }}"

[data.ai]
token = "{{ onepasswordRead "op://Personal/LLM/credential" | trim }}"
endpoint = "{{ onepasswordRead "op://Personal/LLM/url" | trim }}"

[data.ai.models]
default = "deepseek-v3.2"
thinking = "deepseek-v3.2"
multimodal = "doubao-seed-1-8"
text2image = "FLUX-1.1-pro"

[data.ai.header]

[data.ai.extension]
context7 = "{{ onepasswordRead "op://Personal/Context7/credential" | trim }}"
