[hooks.read-source-state.pre]
command = ".local/share/chezmoi/home/.install-prerequisites.sh"

[data]
zshPlugins = [
    "zsh-syntax-highlighting",
    "git-open",
]

githubToken = "{{ onepasswordRead "op://Personal/GitHub API Token/token" | trim }}"

[data.ai]
token = {{ onepasswordRead "op://Personal/LLM/credential" | trim | quote }}
endpoint = {{ onepasswordRead "op://Personal/LLM/url" | trim | quote }}
model = {{ onepasswordRead "op://Personal/LLM/gpjtgaxoirmlfznm3pvomfvpy4" | trim | quote }}
