[scriptEnv]
    GO_VERSION = "1.23.7"
    PYTHON_VERSION = "3.13.2"
    NODE_JS_VERSION = "22.14.0"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/home/.install-prerequisites.sh"

[data]
    zshPlugins = [
        "zsh-syntax-highlighting",
	"extract",
	"git",
	"golang",
	"python",
	{{- if eq .chezmoi.os "darwin" }}
	"brew",
	{{- end }}
	"git-open",
	"fzf",
    ]
