[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "git-repo"
    url = "git@github.com:romkatv/powerlevel10k.git"
    refreshPeriod = "168h"
    [".oh-my-zsh/custom/themes/powerlevel10k".clone]
        args = ["--depth=1"]
[".zplug"]
    type = "git-repo"
    url = "git@github.com:zplug/zplug.git"
    refreshPeriod = "168h"
    [".zplug".clone]
        args = ["--depth=1"]
[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"
{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{- $fontDir = ".local/share/fonts" }}
{{- end }}
{{- range (list
      "Droid Sans Mono Nerd Font Complete Mono.otf"
      "Droid Sans Mono Nerd Font Complete.otf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/DroidSansMono/complete/{{ . }}"
    refreshPeriod = "168h"
{{- end }}
