{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- end }}
["{{ $fontDir }}/DroidSansMono"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName }}/DroidSansMono.tar.xz"
    refreshPeriod = "168h"
    exact = true
    stripComponents = 0
    include = [
        "*.otf",
    ]

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.*",
        "*/templates",
        "*/themes",
    ]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.editorconfig",
        "*/.gitattributes",
        "*/.github",
        "*/.gitignore",
    ]

[".oh-my-zsh/custom/plugins/git-open"]
    type = "archive"
    url = "https://github.com/paulirish/git-open/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.editorconfig",
        "*/.gitattributes",
        "*/.github",
        "*/.gitignore",
    ]

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/{{ (gitHubLatestRelease "romkatv/powerlevel10k").TagName }}.tar.gz"
    exact = true
    stripComponents = 1

[".config/wezterm/wez-tmux"]
    type = "archive"
    url = "https://github.com/sei40kr/wez-tmux/archive/main.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.*",
    ]
