# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  zsh-syntax-highlighting
  git-open
  extract
  autoswitch_virtualenv
  git
  golang
  python
  rust
  fzf
{{- if lookPath "brew" }}
  brew
{{- end }}
{{- if lookPath "helm" }}
  helm
{{- end }}
{{- if lookPath "kubectl" }}
  kubectl
{{- end }}
)

source $ZSH/oh-my-zsh.sh

# User configuration

{{- if lookPath "bat" }}
alias cat='bat -p'
{{- end }}
{{- if lookPath "eza" }}
alias ls='eza --icons=auto'
{{- end }}

{{- if lookPath "nvim" }}
alias vi=nvim
alias vimdiff='nvim -d'
{{- end }}

# 1Password CLI plugins
[[ ! -f ~/.config/op/plugins.sh ]] || source ~/.config/op/plugins.sh

{{- if lookPath "starship" }}
eval "$(starship init zsh)"
{{- end }}

{{- if lookPath "ccr" }}
eval "$(ccr activate)"
{{- end }}

unsetopt beep
