#!/bin/bash

# softwares hash: {{ .data.softwares | toString | sha256sum }}

[ -f ~/.gvm/scripts/gvm ] || GVM_NO_UPDATE_PROFILE=1 bash < <(curl -LsSf 'https://raw.githubusercontent.com/cndoit18/gvm/master/binscripts/gvm-installer')
[ -f ~/.gvm/scripts/gvm ] && source ~/.gvm/scripts/gvm
[ "$(command -v go)" ] || (gvm install go1.21.0 -B && gvm use go1.21.0)
gvm install go{{ .data.softwares.go }} && gvm use go{{ .data.softwares.go }} --default

[ -f ~/.local/bin/uv ] || UV_NO_MODIFY_PATH=1 bash < <(curl -LsSf 'https://astral.sh/uv/{{ (gitHubLatestRelease "astral-sh/uv").TagName }}/install.sh')
~/.local/bin/uv python install --default --preview {{ .data.softwares.python }}

export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] || PROFILE=/dev/null bash < <(curl -LsSf 'https://raw.githubusercontent.com/nvm-sh/nvm/{{ (gitHubLatestRelease "nvm-sh/nvm").TagName }}/install.sh')
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
nvm install --default v{{ index .data.softwares "node.js" }}

[ "$(command -v rustc)" ] || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
