{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": ["-y", "@upstash/context7-mcp", "--api-key", "{{ onepasswordRead "op://Personal/Context7/credential" | trim }}"]
    }
  }
}
