{
  "language": "chinese",
  "outputStyle": "Torvalds",
  "permissions": {
    "allow": [
      "mcp__plugin_context7-plugin_context7__*",
      "Skill(go-uber-style)",
      "Skill(ui-ux-pro-max)",
      "Skill(skill-from-masters)",
      "Skill(scientific-schematics)",
      "Skill(async-python-patterns)",
      "Skill(drawio-diagrams-enhanced)",
      "Skill(mermaid)",
      "Skill(excalidraw)",
      "Skill(documentation-lookup)"
    ]
  },
  "plansDirectory": "./.claude/plans",
  "alwaysThinkingEnabled": true,
  "env": {
    "DISABLE_AUTOUPDATER": "1",
    "OPENAI_API_BASE": "{{ .ai.endpoint }}",
    "OPENAI_API_KEY": "{{ .ai.token }}",
    "REVIEW_MODEL": "{{ .ai.models.multimodal }}",
    "DEFAULT_MODEL": "{{ .ai.models.default }}",
    "IMAGE_MODEL": "{{ .ai.models.text2image }}"
  },
  "includeCoAuthoredBy": false,
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": true,
    "gopls-lsp@claude-plugins-official": true,
    "pyright-lsp@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "context7-plugin@context7-marketplace": true
  }
}
