{
  "mcpServers": {
    "context7": {
      "headers": {
        "CONTEXT7_API_KEY": "{{ onepasswordRead "op://Personal/Context7/credential" | trim }}"
      },
      "url": "https://mcp.context7.com/mcp"
    },
    "tavily-remote-mcp": {
      "command": "npx",
      "args": ["-y", "mcp-remote", "https://mcp.tavily.com/mcp/?tavilyApiKey={{ onepasswordRead "op://Personal/Tavily/credential" }}"],
      "env": {}
    }
  }
}
