{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": ["-y", "@upstash/context7-mcp", "--api-key", "{{ onepasswordRead "op://Personal/Context7/credential" | trim }}"],
      "env": {}
    },
    "tavily-remote-mcp": {
      "command": "npx",
      "args": ["-y", "tavily-mcp"],
      "env": {
        "TAVILY_API_KEY": "{{ onepasswordRead "op://Personal/Tavily/credential" }}"
      }
    }
  }
}
