# Recall that in TOML, root keys must be listed before tables.
model = "DeepSeek-V3.2-Exp"
model_provider = "openai-chat-completions"

[model_providers.openai-chat-completions]
# Name of the provider that will be displayed in the Codex UI.
name = "OpenAI using Chat Completions"
# The path `/chat/completions` will be amended to this URL to make the POST
# request for the chat completions.
base_url = "{{ .ai.endpoint | trimSuffix "/" }}/v1"
# If `env_key` is set, identifies an environment variable that must be set when
# using Codex with this provider. The value of the environment variable must be
# non-empty and will be used in the `Bearer TOKEN` HTTP header for the POST request.
env_key = "OPENAI_API_KEY"
# Valid values for wire_api are "chat" and "responses". Defaults to "chat" if omitted.
wire_api = "chat"
# If necessary, extra query params that need to be added to the URL.
# See the Azure example below.
query_params = {}

[mcp_servers.context7]
command = "npx"
args=["-y", "@upstash/context7-mcp", "--api-key", "{{ onepasswordRead "op://Personal/Context7/credential" | trim }}"]

[mcp_servers.tavily]
command = "npx"
args=["-y", "tavily-mcp"]
env = { "TAVILY_API_KEY" = "{{ onepasswordRead "op://Personal/Tavily/credential" }}" }
