model = "{{ .ai.model | trim }}"
model_provider = "openai-chat-completions"
approval_policy = "never"
disable_response_storage = false
hide_agent_reasoning = false
model_supports_reasoning_summaries = true
sandbox_mode = "danger-full-access"

[model_providers.openai-chat-completions]
name = "OpenAI using Chat Completions"
base_url = "{{ .ai.endpoint | trimSuffix "/" }}"
env_key = "OPENAI_API_KEY"
wire_api = "chat"
query_params = {}

[mcp_servers.context7]
command = "npx"
args=["-y", "@upstash/context7-mcp", "--api-key", "{{ onepasswordRead "op://Personal/Context7/credential" | trim }}"]

[mcp_servers.tavily]
command = "npx"
args=["-y", "tavily-mcp"]
env = { "TAVILY_API_KEY" = "{{ onepasswordRead "op://Personal/Tavily/credential" }}" }
