model_provider = "OpenAI"
model_reasoning_effort = "xhigh"
disable_response_storage = true
network_access = "enabled"
model_context_window = 1000000
model_auto_compact_token_limit = 600000

[model_providers.OpenAI]
name = "OpenAI"
base_url = "http://localhost:8080"
wire_api = "responses"
requires_openai_auth = true

[mcp_servers.context7]
type = "stdio"
command = "npx"
args = [
  "-y",
  "@upstash/context7-mcp",
  "--api-key",
  "{{ .ai.extension.context7 }}"
]
