{{ $packages := list
     "curl"
     "direnv"
     "git"
     "git-lfs"
     "jq"
     "neovim"
     "vim"
     "ripgrep"
     "units"
     "make"
     "libncurses5-dev"
     "libssl-dev"
     "build-essential"
     "openssl"
     "bison"
     "flex"
     "libelf-dev"
     "python3"
     "zsh" -}}
    
{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

test -d ${HOME}/.pyenv || curl https://pyenv.run | bash
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"

test -d ${HOME}/.gvm || /bin/bash <(curl -fsSL https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer)

python_stable_version="$(pyenv install --list | sed 's/^  //' |  grep '^[0-9]' | grep --invert-match 'dev\|a\|b' | tail -1)"
PYTHON_CONFIGURE_OPTS="--enable-framework" pyenv install -s $python_stable_version && pyenv global $python_stable_version

python3 -m pip install --user pipx
python3 -m pipx install poetry >& /dev/null
python3 -m pipx install yapf >& /dev/null
python3 -m pipx runpip yapf install toml >& /dev/null

test -d /usr/local/share/nvm || /bin/bash <(curl -fsSL https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh)
source /usr/local/share/nvm/nvm.sh

test -d ${HOME}/.zplug || /bin/zsh <(curl -fsSL https://raw.githubusercontent.com/zplug/installer/master/installer.zsh)
nvm install --lts --default
corepack enable
corepack prepare yarn@stable --activate