#!/bin/sh

trap "rm -rf 1password-cli-{{ .chezmoi.arch }}-latest.deb" EXIT
wget https://downloads.1password.com/linux/debian/{{ .chezmoi.arch }}/stable/1password-cli-{{ .chezmoi.arch }}-latest.deb
sudo apt install -y ./1password-cli-{{ .chezmoi.arch }}-latest.deb