[user]
    name = cndoit18
    email = cndoit18@outlook.com
    signingkey = {{ onepasswordRead "op://Personal/SSH Key/public_key" }}
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[init]
    defaultBranch = master
[pull]
    rebase = true
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
{{- if eq .chezmoi.os "darwin" }}
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
[commit]
    gpgsign = true
